.App {
  text-align: center;
  background-color: #525663;
  min-height: 100vh;
  /* margin: auto 0; */
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formulario {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: auto 0;
  background-color: #3f8497;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px 5px rgb(51, 60, 78);
}

.formulario div {
  display: grid;
  /* border: 1px solid blue; */
  grid-template-columns: 0.5fr 1fr;
  grid-column-gap: 10px;
  color: rgb(12, 69, 102);
  font-weight: bold;
  margin: 10px 0;
}

label {
  text-align: left;
  font-size: 17px;
}

input {
  /* font-family: 'Lato'; */
  padding: 3px 5px;
}

button {
  grid-column: 1 / 3;
  margin: 0 auto;
  border-radius: 5px;
  border-width: 10px;
  padding: 6px;
  border: 1px solid rgb(199, 194, 194);
  color: rgb(12, 58, 83);
  font-weight: bold;
  background-color: rgba(42, 157, 192, 0.863);
  font-family: 'Lato';
}

input,
textarea {
  border-radius: 4px;
  border-style: none;
  font-family: 'Roboto';
  min-width: 250px;
}
